:root{
    .tagline {
        font-size: 16px;
        max-width: 92%;
    }

    .image-src {
        border-radius: 50%;
        box-sizing: border-box;
        background-color: #DDD;
        color: (--vp-button-alt-text);
        border: 5px solid;
    }
}

html.dark .invertible {
    filter: grayscale(1) invert(1);
}